h1{
    background-color: lightblue;
    /* border-style: double;
    border-width: 2px;
    border-color: rgb(244, 8, 8); */
    border: salmon 4px dotted ;
    /* border-radius: 30px; */
    border-bottom-right-radius: 30px;
    border-left: solid;
    width: 300px;
    /* height: 50px; */
    /* margin-top: 20px;
    margin-bottom: 50px; */
}
span{
    background-color: lightpink;
     border: salmon 4px dotted ;
    border-radius: 30px;
    width: 300px;
    height: 50px;
}
.cls1{
    background-color: brown;
    border: rgb(138, 174, 41) 6px double ;
    border-radius: 10px;
    width: 300px;
    /* height: 50px; */
    /* padding: 50px; 
    margin: 100px; */
}
.cls2{
    background-color: beige;
    border: purple 6px double;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    /* margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 100px; */
}
.cls3{
    background-color: black;
    color: wheat;
     border: brown 6px double;
     border-radius: 10px;
     width: 300px;
    height: 150px;
    box-sizing: border-box;
}
**{
    padding: 0;
    margin: 0;
}