.container{
    background-color: lightgray;
    border: 5px solid rgba(77, 7, 7, 0.687);
    width: 98%;
    height: 800px;
    margin: 5px;
    padding: 5px;
    display: flex;
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: wrap row; */
    justify-content: start;
    /* justify-content: start;
    justify-content: end; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: space-evenly;
    align-items: start;
    /* align-items: start; */
    /* align-items: end; */
    /* align-items: stretch; */
    /* align-content: start; */
    /* align-content: end; */
    align-content: center;

}
.box{
    /* height: 100px;
    width: 100px; */
    border: 5px double rgba(122, 5, 5, 0.815);
    margin: 5px;
    padding: 5px;
    
}
#box1{
    background-color: lightcoral;
    order: 3;
    /* flex-shrink: 4; */
    /* flex-grow: 1; */
    flex: 2 4 200px;
    align-self: center;
}
#box2{
    background-color: rgb(78, 78, 164);
    order: 2;
    /* flex-grow: 5; */
    align-self: end;
}
#box3{
    background-color: aqua;
    /* flex-grow: 1; */
    align-self: flex-start;
}
#box4{
    background-color: lightgreen;
    order: -1;
    /* flex-grow: 1; */
    flex-basis: 150px;
    align-self: flex-end;
}