img{
    width: 100px;
    height: 100px;
    margin: 10px;

}
div{
    border: 10px black double;
}
/* .cls2{
    top: 500px;
} */
.cls2{
    position: relative;
    top: 50px;
    left: 10px;
}
.cls3{
    position: absolute;
    top: 50px;
}
.container{
    position: relative;
    height: 1000px;
    background-color: beige;
}
.cls4{
    position: fixed;
}
.cls1{
    position: sticky;
    top: 100px;
}
.box{
    background-color: lightblue;
    height: 5000px;
}