p{
    font-size: 30px;
    font-style: oblique;
    font-family: cursive;
    font-weight: 1000;
    line-height: 50px;
}
#p1{
    background-color: yellowgreen;
    color: black;
}
#p2{
    background-color: rgb(22, 180, 30);
}
#p3{
    background-color: rgba(66, 120, 200, 0.25);
}
.cls{
    background-color: #03b8ff6a;
}
.cls{
    font-size: 20px;
    font-style: italic;
}
h1{
    background-color: hsl(62, 7%, 40%);
}